@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap'); */

/* Aplica la fuente a todo el documento */
html {
  font-family: "Onest", sans-serif; /* Aplica la fuente personalizada */
  font-optical-sizing: auto; /* Ajusta el tamaño de la fuente */
  font-style: normal; /* Asegura que el estilo sea normal */
  scroll-behavior: smooth;
}
.button {
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 16px;
  border: none;
  padding: 2px;
  background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
  position: relative;
}
.button::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 60%;
  border-radius: 120px;
  top: 0;
  right: 0;
  box-shadow: 0 0 20px #ffffff38;
  z-index: -1;
}

.blob1 {
  position: absolute;
  width: 70px;
  height: 100%;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #3fe9ff,
    #0000ff80,
    transparent
  );
  box-shadow: -10px 10px 30px #0051ff2d;
}

.inner {
  padding: 14px 15px;
  border-radius: 14px;
  color: #fff;
  z-index: 3;
  position: relative;
  background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
  font-size: 14px;
}
.inner::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 24px;
  background: radial-gradient(
    circle 40px at 0% 100%,
    #00e1ff1a,
    #0000ff11,
    transparent
  );
  position: absolute;
}
body{
  background-image: url('/src/assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.animated-background {
  background-image: url('/src/assets/logo.gif'); /* Ruta al GIF */ /* Centra el texto horizontalmente */
  background-clip: text; /* Recorta el fondo al área del texto */
  -webkit-background-clip: text; /* Soporte para navegadores WebKit */
  color: transparent; /* Hace el color del texto transparente para que solo se vea el fondo del GIF */
  display: inline-block; /* Asegura que el texto se ajuste al contenido */
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0.5rem;
}
