/* @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* position: relative; */
    min-height: 100vh;
}

:root {
  /* font-family: "Poppins", sans-serif; */
  line-height: 1.5;
  font-weight: 400;

    --primary-color: #FF8F4A;
}


.fondo {
  background-color: var(--primary-color);
  color: white;
}


.navbar div {
  justify-content: space-around;
  padding: 1em;
}

/* .navbar nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}  */

.navbar ul{
  align-items: center;
}
.navbar li a{
    font-family: "Poppins", sans-serif;
    border: 0;
    text-decoration: none;
    color: #000; 
    font-size: 1.2em;
}

.navbar nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #FF8F4A;
    transition: width .3s;
}
.navbar nav ul li a:hover::after{
    width: 100% !important;
}
.progress-bar {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--primary-color);
    transform-origin: 0%;
}


.button-primary{
    background-color: var(--primary-color);
    font-size: 1.2em;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    width: fit-content;
}
.button-primary:hover{
    background-color: #db5101;
}

footer{
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
}

.gradient-bg{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,74,1) 0%, rgba(237,237,237,1) 0%, rgba(244,198,170,1) 72%, rgba(255,143,74,1) 100%);
}

/*PARALLAX*/
.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 40px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }

  .parallax span{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FF8F4A;
  }


  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: white
  }
  
  ::-webkit-scrollbar-thumb {
    background: #FF8F4A;
    -webkit-border-radius: 1ex;
  }